<footer>


    <div class="container modal-footer">

        <a href="https://www.facebook.com/609021119136026">
            <img src="img/fb.jpg" alt="FB" style="width:42px;height:42px;border:0;">
        </a>
        <a href="https://www.youtube.com/?gl=BG&hl=bg">
            <img src="img/youtube.jpg" alt="YouTube" style="width:42px;height:42px;border:0;margin:10px;">
        </a>
        <a href="https://twitter.com/HOME">
            <img src="img/twit.jpg" alt="twitter" style="width:42px;height:42px;border:0;margin:10px;">
        </a>
        <a href="https://www.google.bg/">
            <img src="img/google1.jpg" alt="google" style="width:42px;height:42px;border:0;margin:10px;">
        </a>
        <a href="https://github.com/">
            <img src="img/38401.png" alt="github" style="width:42px;height:42px;border:0;margin:10px;">
        </a>


        <p>© 2016 - Software University Foundation</p>
    </div>



</footer>
<script src="/../js/jquery.min.js"></script>
{#<script src="/../js/jquery.plugin.min.js"></script>#}
{#<script src="/../js/bootstrap.min.js"></script>#}
{#<script src="/../js/jquery.flexslider-min.js"></script>#}
{#<script src="/../js/smooth-scroll.min.js"></script>#}
{#<script src="/../js/skrollr.min.js"></script>#}
{#<script src="/../js/spectragram.min.js"></script>#}
{#<script src="/../js/scrollReveal.min.js"></script>#}
{#<script src="/../js/isotope.min.js"></script>#}

{#<script src="/../js/lightbox.min.js"></script>#}
{#<script src="/../js/jquery.countdown.min.js"></script>#}
{#<script src="/../js/scripts.js"></script>#}
{#<script src="/../js/bootstrap-editable.js"></script>#}
<script src="/../js/passwordStrength.jquery.js"></script>
<script src="/../js/passwordStrength.jquery.min.js"></script>
{#<script src="/../js/jquery.tinymce.min.js"></script>#}
<script type="text/javascript" src='//cdn.tinymce.com/4/tinymce.min.js'></script>
{% for js in javascript %}
    <script src="{{js}}"></script>
{% endfor %}

</body>
</html>