<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/passwordStrength.css" type="text/css" rel="stylesheet" media="all"/>
        <meta charset="utf-8">
    </head>
    <body>
        <main>
            <div class="topnav" id="myTopnav">
                <a class="navbar-brand" href="https://github.com/sidertopalov/Software-Technologies---Teamwork">Team "Oops"</a>
                <li><a class="active" href="/home">Home</a></li>
                
                {% if session.isLogged == true  and session.isAdmin == 1  %}
                
                <li><a href="/categorySelect">Category</a></li>
                <li><a href="/article">New Article</a></li>
                <li><a href="/account"> My Account</a></li>
                
                <form method="get" action="/search" id="search">
                <input type="text" size="30" placeholder="Search..." />
                    
                <li  class="dropdownNew">
                    <a href="javascript:void(0)" class="dropbtnNew" onclick="myFunctionTwo()">Settings</a>
                    <div class="dropdownNew-content" id="myDropdown" style="row">
                        <a href="/category">Create Category</a>
                        <a href="/categoryList">Category List</a>
                        <a href="/articleList">Article List</a>
                        <a href="/createTablesForProject">Create Database</a>
                        <a href="/logout">Log out</a>
                    </div>
                    </li>
                </form>
                        
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
                </li>
                {%elseif   session.isLogged == true %}
                
                <li><a href="/categorySelect">Category</a></li>
                <li><a href="/article">New Article</a></li>
                <li><a href="/account"> My Account</a></li>
                <li><a href="/logout">Log out</a></li>
                <form method="get" action="/search" id="search">
                <input type="text" size="30" placeholder="Search..." />
                <li style="float:right;"><a> Hello,{{ session.userEmail }}! </a></li>
                </form>
                
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
                </li>         
                
                {%else%}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
                <li><a href="/about">About</a></li>
                <form method="get" action="/search" id="search">
                    <input type="text" size="40" placeholder="Search..." />
                </form>
                 {% endif %}
                
                
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>

                </li>
            </div>
            <script>

                function myFunction() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }
            </script>
        
          <script>
                function myFunctionTwo() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                window.onclick = function(e) {
                    if (!e.target.matches('.dropbtnNew')) {

                        var dropdowns = document.getElementsByClassName("dropdownNew-content");
                        for (var d = 0; d < dropdowns.length; d++) {
                            var openDropdown = dropdowns[d];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
