<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
<!--        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<!--        <link href="/css/passwordStrength.css" type="text/css" rel="stylesheet" media="all"/>-->
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/passwordStrength.css" type="text/css" rel="stylesheet" media="all"/>
<!--        <link href="/css/style.css" type="text/css" rel="stylesheet" media="all"/>   -->
        <meta charset="utf-8">
    </head>
    <body>
        <main>
            <div class="topnav" id="myTopnav">
                <a class="navbar-brand" href="#">Looop</a>
                <li><a class="active" href="/home">Home</a></li>
                {% if session.isLogged == true %}
                
                <li><a href="/categorySelect">Category</a></li>
                <li><a href="/article">New Article</a></li>
                <li><a href="/account"> My Account</a></li>
                <li><a href="/logout">Log out</a></li>
                <li><a> Hello,{{ session.userEmail }}! </a></li>
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>

<<<<<<< HEAD
=======
</head>
<style>
    #wrapper{
        overflow: visible! important;
    }
</style>
<body>

    <div class="topnav" id="myTopnav">

        <li><a class="active" href="/home">Home</a></li>

{% if session.isLogged == true %}

        <li><a href="/categorySelect">Category</a></li>
        <li><a href="/article">New Article</a></li>
        <li><a href="/account"> My Account</a></li>
        <li><a href="/logout">Log out</a></li>
        <li style="float: right;"><a> Hello,{{ session.userEmail }}! </a></li>

    {% if  session.isAdmin == 1%}
        <li class="has-dropdown"><a href="#">Settings</a>
                <ul class="subnav">
                <a href="/category">Create Category</a>
                <a href="/categoryList">Categories List</a>
                <a href="/articleList">Articles List</a>
                </ul>
>>>>>>> aa68e68642a754ea2a8388e039d2386914dd0113
                </li>
                {% if  session.isAdmin == 1%}
<!--                  -->
                 {%endif%}    

                {%else%}
                <li><a href="#home">Login</a></li>
                <li><a href="#register">Register</a></li>
                <li><a href="#about">About</a></li>
                <form method="get" action="/search" id="search">
                    <input type="text" size="40" placeholder="Search..." />

                </form>
                 {% endif %}
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>

                </li>
            </div>
            <script>

                function myFunction() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }
            </script>
