{% include "./common/header.twig" %}


<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">About Us
                	<br>
                	<small>It's Nice to Meet You!</small>
            	</h1>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center">Team "Oops"</h2>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle" src="./../../img/sidertopalov.jpg" alt="" height="200" width="200">
                <h3>Sider Topalov</h3>
                <a href="https://www.facebook.com/sider.topalov" target="_blank">
            		<img src="./../../img/fb.jpg" alt="FB" style="width:42px;height:42px;border:0;border-radius:10px">
		        </a>
		        <a href="https://github.com/sidertopalov" target="_blank">
		            <img src="./../../img/38401.png" alt="github" style="width:42px;height:42px;border:0;margin:10px;border-radius:10px">
		        </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle" src="./../../img/IvVelichkova.jpg" alt="" height="200" width="200">
                <h3>Iv Velichkova</h3>
                 <a href="https://www.facebook.com/iv.velichkova?fref=ts" target="_blank">
            		<img src="./../../img/fb.jpg" alt="FB" style="width:42px;height:42px;border:0;border-radius:10px">
		        </a>
		        <a href="https://github.com/IvVelichkova" target="_blank">
		            <img src="./../../img/38401.png" alt="github" style="width:42px;height:42px;border:0;margin:10px;border-radius:10px">
		        </a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle" src="./../../img/PeterPeev.jpg" alt="" height="200" width="200">
                <h3>Peter Peev</h3>
                 <a href="https://www.facebook.com/balthazzarcorr?fref=ts" target="_blank">
            		<img src="./../../img/fb.jpg" alt="FB" style="width:42px;height:42px;border:0;border-radius:10px">
		        </a>
		        <a href="https://github.com/BalthazzarCorr" target="_blank">
		            <img src="./../../img/38401.png" alt="github" style="width:42px;height:42px;border:0;margin:10px;border-radius:10px">
		        </a>
            </div>
        </div>

        <hr>

    </div>

{% include "./common/footer.twig" %}
