{% include "./common/header.twig" %}

<section>
    <div class="container">
        <div class="row">
           
        

            <div class="row text-center">
                        
                <!-- <div class="col-sm-12 text-center"> -->
                    <div class="photo-form-wrapper clearfix">
                        <div class="row">

                                <div class="col-sm-12 text-center">

                                    <form method="post" id="addArticle"  style="text-align:center" >

                                            <h3 style="text-decoration: underline;"> Add Article </h3>
                                            <hr style="border-color: #000000;">

                                            <div style="display:none" class="alert alert-danger" role="alert" id="errorMessage"></div>
                                            <div style="display:none" class="alert alert-success" role="alert" id="successMessage"></div>

                                            <input id="titleArticle" name="titleArticle" type="text" placeholder="Title" style="margin-bottom: 15px" value="">
                                                
                                            <div style="width:800px;margin:0 auto;">
                                               
                                             <textarea class="form-control " id="contentArticle" name="contentArticle"></textarea><br>
                                             
                                        </div>
                                      
                                            <select id="selectId" name="selectId" class="form-inline">
                                                {% for category in categoryDetails %}
                                                    Category: <option value="{{category.category}}">
                                                    {{ category.category }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <input  style="margin-top:20px" id="btnEdit" type="submit" class="btn btn-primary btn-filled"  value="Add Article">
                                        </form>
                                    
                                    </form>
                                </div>

                      
                        </div>
                    <!-- </div> -->
                </div>
            
            </div>

            <div class="col-sm-4  col-xs-6">
            </div>

            <div class="col-sm-4  col-xs-12">
                
            </div>
        </div>
    </div>
</section>








{% include "./common/footer.twig" %}
