{% include "./common/header.twig" %}


<section>
     <div class="row">
                <div class="col-md-6">       
                    
                    <div class="centered">      
                        
                        <form class="form-box centered" method="post"  id="categoryAddForm">
                            <div class="centered">
                                  
                                <div>
                                <span style="display:none;margin-left:12px; "  class="alert alert-danger" role="alert" id="errorMessage"></span>
                                <span style="display:none;margin-left:12px;" class="alert alert-success" role="alert" id="successMessage"></span>
                                </div><br>                                

                              
                                <fieldset>
                                    <div class="col-sm-12 text-center">
                                        <span style="color:lightgray"><h1>New</h1></span>
                                        <span style="color:lightgray"><h1>Category</h1></span></div>
                                </fieldset>
                                                    

                                <input type="text" size="20" name="newCategory" id="newCategory" placeholder="New category name.." value="" >                                

                                <div id="buttonNew" style="display:block;margin-left:12px;">
                                
                                  
                                    <button class="buttonNew" id="newCategory" type="submit" value="Create Category">Create</button>
                                    <a class="buttonNew"  href="/categoryList">Back</a>
                                </div>
                                 
                            </div>
                        </form>
                    </div>
                </div>
            </div>


{% include "./common/footer.twig" %}