{% include "common/header.twig" %}
 <div class="row">
                <div class="col-md-6">       
                    <div class="centered">      
                        <form class="form-box centered" method="post"  id="loginForm">
                            <div class="centered">
                                <fieldset>
                                    <div class="col-sm-12 text-center">
                                        <h1><span style="color:lightgray">Login</span></h1></div>
                                </fieldset>
                                    <div >
                                <span style="display:none" class="alert alert-success" role="alert" id="errorLoginEmail"></span>
                                <span style="display:none" class="alert alert-success" role="alert" id="errorLoginPass"></span>
                                </div><br>                                

                                <input class="form-email" id="loginEmail" name="loginEmail"  type="text" size="40" placeholder="Email" >
                                <input class="form-password" id="loginPass" name="loginPass" type="password" size="40" placeholder="Password">

                                <div id="buttonNew" style="display:block;margin-left:12px;">
                                
                                     <button class="buttonNew">Cancel</button>
                                    <button class="buttonNew" id="loginSubmit" type="submit" value="Login">Login</button>
                                </div>
                                 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% include "common/footer.twig" %}