{% include "./common/header.twig" %}


			
<div class="row">
    <div class="col-md-6">       
        <div class="centered">      
            <form class="form-box centered" method="post" action="/signuptwo" >
                <div class="centered">
                    <fieldset>
                        <div class="col-sm-12 text-center"><h1>Register</h1></div>
                    </fieldset>
                    <input name="fnameSignup" type="text" size="60" placeholder="First Name" >
                    <input name="lnameSignup" type="text" size="60" placeholder="Last Name" >
                    <input name="emailSignup" type="text" size="40" placeholder="Email" >
                    <input name="passSignup" type="password" size="60" placeholder="Password">
                    <input name="passConfSignup" type="password" size="60" placeholder="Confirm Password">
                    <div id="buttonNew" style="display:block;margin-left:12px;"> 
                        <button class="buttonNew">Register</button>
                        <button class="buttonNew">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
				
 
{% include "./common/footer.twig" %}
